main,
footer{
    line-height: 2rem;
}



.row{
    display: flex;
    flex-wrap: wrap;
}


section{
    padding: 2rem 0.5rem;
}

ul,
li,
a{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

main section:nth-of-type(2n+2){
    background-color: var(--main-color);
}

img{
    width: 100%;
}

.button{
    display: inline-block;
    padding: 0.3rem 0.65rem;
    border-radius: 1.5rem;
    text-align: center;

}


.card,
.big-card{
    width: calc(100% - 1rem);
    background-color: var(--card-second-color);
    margin: 0.5rem;
    border-radius: 0.65rem;
    padding: 2rem;
}

.card{
    text-align: center;
}

p,
h2,
h3{
    margin: 1rem 0;
}

img{
    display: block;
}

section:nth-of-type(2n+2) .card{
    background-color: white;
}

section:nth-of-type(2n+2) .button{
    background-color: var(--main-color);
}

.profile{
    width: 10rem;
    height: 10rem;
    background-position: center center;
    background-size: cover;
}

.profile img{
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}



/* COLOR VARIABLES */

:root{
    --main-color: #9792E4;
    --card-second-color: #B5DDFF;
    --third-color: #0084FD;
}